@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

*, ::before, ::after {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply font-sans;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 min-h-screen bg-scaffold text-[#343a40];
    font-family: 'Paperozi';
    font-weight: bolder;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
